header
  include _logo
  nav
    ul
      li.jazzy-link-nav
        a(href="/index.html") Home
      li.jazzy-link-nav
        a(href="/about.html") About
      li.jazzy-link-nav
        a(href="/blog.html") Blog
      li.jazzy-link-nav
        a(href="/contact.html") Contact

