<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery-ui-1.12.1.min.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/highlight-js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>