doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="referrer" content="origin")
    title Tom Mason
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/img/favicon/favicon-16x16.png")
    link(rel="mask-icon", href="assets/img/favicon/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="stylesheet", href="assets/css/main.css")
  body
    != yield

    include _partials/_scripts