.about
  h1 About Me
  .flex-container
    .col
      p.
        I have just moved to Melbourne, after finishing my degree in chemistry in the UK at Warwick University.
      p.
        I've spent four years honing my lab technique, and decided to turn my back on it...
      p.
        I found out that you can still do research but without the mess, combining chemistry with computers.
      p.
        Learning Python has helped hugely with this!
    .col
      p.
        Outside of academia, I'm keen on learning how to make websites that not only look good, but work in unique
        ways. So I'm learning JavaScript.  
      p.
        I'm not a designer, I'm a scientist, and overcoming that barrier is challenging, but great fun.
      p.
        Check out the blog section for useful tips, and things I find interesting.
