.blog
  .grid-container
    for article, url in public.articles._data
      .post
        img(src="#{article.pic}", alt="")
        .meta.hidden
          a(href="/articles/#{url}") #{article.title}
          p #{article.date}
