main
  .content.content--fixed
    include _partials/_fixed-content
  .content-wrap
    .content
      include _partials/_home
  .content-wrap
    .content
      include _partials/_about
  .content-wrap
    .content
      include _partials/_phd
  .content-wrap
    .content
      include _partials/_contact