section#phd
  h1.section__title.jazzy-link-section__title PhD

  .content
    p.text.
      My project involves writing software to predict how polymers will respond to being placed in a particular fluid. I'm working with researchers in Austin, Texas to incorporate their electrochemical interests, and working at predicting interactions accurately,  something that has never been done before.
      #[br]
      Pretty cool stuff!

  
